@model IEnumerable<GerenciadorDeTarefas.Models.ViewModels.ListaDeTarefaViewModel>   

    @{
        ViewData["Title"] = "ListaDeTarefa";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h1>Listas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
    <p>
        <a asp-action="Create" asp-controller="ListaDeTarefas" class="btn btn-primary">Nova Lista</a>
    </p>
</table>